body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(20, 20, 20);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lime;
    padding: 10px;
}
.navbar {
    display: flex;
}
.navbar button {
    margin-right: 10px;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: lime;
    transition: 3ms;
    border: 0cap;
    font-size: x-large;
}
.navbar button:hover {
    background-color:lightblue;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    margin-right: 10px;
}
.navbar li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover {
    background-color: lightblue;
}
.title {
    color: rgb(20, 20, 20);
    padding: 20px;
    text-align: center;
}
.canvas-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 1200px;
    gap: 150px;
}
canvas {
    border: 1px solid lightblue;
}
.main * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
    background-color: rgb(173, 216, 230);
    padding: 30px;
}

.button-container input {
    color: rgb(20, 20, 20);
    border: 2px solid lightblue;
    margin-bottom: 10px;
    cursor: pointer;
    width: 200px;
    height: 30px;
}

.button-container input {
    cursor: default;
}

.button {
    background-color: rgb(0, 255, 0);
    color: rgb(20, 20, 20);
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: 3ms;
    font-weight: bold;
    border: 2px solid black;
}
.button:hover {
    background-color: rgb(110, 255, 0);
}
#toggleLines {
    background-color: lime;
    transition: 3ms;
}
#toggleLines:hover {
    background-color: rgb(110, 255, 0);
}
hr {
    border-color: lime;
}
.input-container {
    color: black;
}
.slider-container #submit {
    background-color: lime;
    color: rgb(20, 20, 20);
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    font-weight: bold;
    border: 2px solid black;
    height: 50px;
}
.slider-container {
    color: lime;
}
.slider-container #submit:hover {
    background-color: rgb(110, 255, 0);
}
.tutorial-container {
    display: block;
    padding: 20px;
    background-color: lightblue;
}
#credits {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: darkolivegreen;
}